/* button */

.button {
  @include ease;
  @include left-radius;
  @include right-radius;
  background: $secondary;
  display: block;
  border: $border-width $border-style $secondary;
  font-family: $stack;
  font-size: $medium;
  text-align: center;
  color: $white;
  padding: $baseline*0.5;
  box-sizing: border-box;

  // &:hover {
  //   @include ease;
  //   background: $white;
  //   cursor: pointer;
  //   border-color: $white;
  //   color: $brand;
  // }
  &.big {
    padding: $baseline $baseline*0.25;
  }
  &.primary {
    border-color: $primary;
    background: $primary;
    &.confirm {
      background: $primary;
      border-color: $primary;
    }
  }
  &.secondary {
    float: left;
    width: auto;
    background: $white;
    color: $secondary;
    font-size: $small;
    margin-left: -$border-width;
    &.active {
      color: white;
      background: $secondary;
    }
  }
  &.deactive {
    border-color: $gray;
    background: $gray;
    //pointer-events: none;
    cursor: default;
    &.secondary {
      color: $gray;
    }
  }
  &.alert {
    color: $alert;
    border-color: $alert;
  }
  &.icon {
    position: relative;
  }
  &.icon + .fa {
    position: absolute;
    top: $baseline;
    left: $baseline;
  }
}

.brand .button,
.brand .button.primary {
  border-color: $white;
  color: $white;
  background: none;
}

// for outlined, might need removing for solid
.brand .button {
  + .button {
    margin-top: -$border-width;
  }
}


.button + .button {
  margin-top: $baseline*0.5;
  &.secondary {
    margin-top: 0;
  }
}

input + .button {
  width: $baseline;
  height: $baseline;
  display: inline-block;
  line-height: $baseline;
}

.register .button,
.bottom .interest .button {
  color: $brand;
  border-color: $brand;
  // &:hover {
  //   color: $brand-variant;
  //   border-color: $brand-variant;
  // }
}

.secondary {
  a {
    @include no-left-radius;
    @include no-right-radius;
  }
  a:first-child {
    @include left-radius;
    @include no-right-radius;
  }
  a:last-child {
    @include right-radius;
    @include no-left-radius;
  }
}