/* card */

.card {
  margin-left: 0;
  padding: $baseline*0.5 0;
  float: left;
  width: 100%;
  border-bottom: $border-width-thin $border-style $brand;
  + .card {
    margin-top: -$border-width;
  }
  &.route {
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 0;
    section {
      margin-bottom: $baseline*0.25;
    }
  }
  .info {
    line-height: $baseline;
    &.icon {
      .spot, .rect {
        float: left;
        text-align: center;
        padding: $baseline*0.0125;
        margin-right: $baseline*0.25;
        box-sizing: border-box;
      }
      .spot {
        @include spot;
        color: $white;
        background: $color-one;
      }
      .rect {
        color: $white;
        background: $color-two;
        padding: $baseline*0.0125 $baseline*0.125;
        line-height: $icon;
        height: $icon;
        min-width: $icon;
      }
    }
    &.extra {
      color: $black;
      font-size: $tiny;
      line-height: $tight;
      margin-top: $baseline*0.5;
    }
    &.right {
      text-align: right;
      line-height: $icon;
      span {
        margin-left: $baseline*0.5;
      }
    }
  }
}

.key {
  margin: $baseline 0;
  .card {
      padding: $baseline*0.25 0;
      border-bottom: none;
    .info {
      width: auto;
      &.extra {
        margin-top: 0;
        margin-left: 0;
        line-height: $icon;
      }
    }
  }
}

.link {
  border-left: $border-width*2 dotted $gray;
  margin-left: $gutter + $icon*0.5 - $border-width;
  height: $baseline;
}