/* form */

input[type] {   
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  outline: none;
}

.feedback {
  border: none;
  padding: $baseline*4;
}

.form { 
  float: left;
  input {
    @include box-sizing;
    @include left-radius;
    @include right-radius;
    border: none;
    background: $background;
    border: $border-width $border-style $gray;
    padding: $baseline*0.5;
    width: 100%;
  }
}

.form, .form input, .form textarea {
  @include placeholder($gray);
  color: $black;
  font-size: $small;
  line-height: $baseline;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  .helper {
    font-size: $tiny;
    text-decoration: underline;
  }
}

.form textarea {
  @include box-sizing;
  @include left-radius;
  @include right-radius;
  height: $baseline*8;
  text-align: left;
  resize: none;
  border: $border-style $border-width $gray;
  padding: $baseline*0.5;
  margin-top: 0;
  margin-bottom: 0;
}

.main.brand {
  .form, .form input {
    @include placeholder($brand-dim);
    background: none;
  }
  input {
    color: $white;
    border-bottom: $border-width $border-style $white;
  }
}