/* form */

.feedback {
  border: none;
  padding: $baseline*4;
}

.form input {
  border: none;
  background: $background;
  border-bottom: $border-width $border-style $gray;
  padding: 0;
}

.form, .form input {
  @include placeholder($gray);
  color: $brand-dim;
  font-size: $body;
  line-height: $baseline;
  text-align: center;
  margin-top: $baseline;
  margin-bottom: $baseline;
  .helper {
    font-size: $tiny;
    text-decoration: underline;
  }
}

.key {
  .form input {
    text-align: left;
    margin-left: 0;
  }
}

.key {
  .form, .form input {
    margin-top: $baseline*0.5;
    margin-bottom: $baseline*1.5;
  }
}

.main.brand {
  .form, .form input {
    @include placeholder($brand-dim);
    background: none;
  }
  input {
    color: $white;
    border-bottom: $border-width $border-style $white;
  }
}