/* image */

img {
  display: block;
  width: 100%;
  height: auto;
}



.product {
  height: calc(0vh);
  &.small {
    height: auto;
  }
}

img.profile-img {
  margin: 0 35%;
  width: 30%;
}

.grayscale, .grayscale h2 {
  @include grayscale;
}

.body .card.logo {
  margin-top: $baseline*6;
  .logo {
    float: left;
    margin: 0 25%;
    width: 50%;
    h2 {
      margin-top: $baseline*2;
      margin-left: 0;
      width: 100%;
    }
  }
}