/* markers */

.link {
  border-left: $border-width*2 dotted $gray;
  height: $baseline;
  margin-top: $baseline*0.25;
  margin-bottom: $baseline*0.25;
  margin: $baseline*0.25 calc(50% - #{$border-width});
}