/* modal */

span.open .extra {
  color: $brand;
  }

.modal {
  display: none;
  &.show {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    background: $white;
  }
  .main {
    margin-bottom: 0;
  }
}