/* nav */

nav {
  line-height: $header-height;
  ul {
    li {
      display: inline;
      a {
        color: $gray;
        float: left;
        &:hover {
          color: $gray-darken;
        }
      }
    }
  }
}

.top-nav {
  .fa-pencil, .fa-times {
    float: right;
  }
  .fa-times {
    font-size: $h1;
    line-height: $h1-lineheight;
  }
}