/* date and time */

.picker {
  float: left;
  text-align: center;
  margin-top: $baseline;
  .inner {
    display: flex;
  }
}

.month,
.day,
.time,
.meridiem {
  border: $border-width $border-style $brand;
  float: left;
  flex: 1 1 100%;
  li {
    padding: $baseline*0.5 0;
  }
}

.day, .meridiem {
  background: $brand;
  color: $white;
  flex-basis: 75%;
}