/* tags */

.tags {
  text-align: center;
  li {
    background: $brand-mute;
    padding: $baseline*0.0125 $baseline*0.25;
    margin: $baseline*0.125;
    display: inline-block;
    span {
      font-size: $small;
      line-height: $tight;
    }
  }
}