/* tags */

.tags {
  text-align: center;
  li {
    background: $secondary-mute;
    padding: $baseline*0.25 $baseline*0.5;
    margin: $baseline*0.25;
    display: inline-block;
    span {
      font-size: $small;
      line-height: $tight;
      color: $secondary;
      &:before {
        content: "x";
      }
    }
  }
}