%section.key.card.divide
  %section.markers
    = fa_icon "circle-o"
  %section.info-wrap
    .title 
      = t('departure.from.info')
    .title.right
      = t('departure.to.info')
    .info 8:46am
    .info.right 9:15am


%section.card
  .info
    = fa_icon "circle-o"
  .info.right 
    15mins
  .info.extra
    11.05am – 11:20am. Ramps available.