%section.markers
  %section
    .info 11:05 AM. Platform 1. 
    .info.extra Accessibility information Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    = fa_icon "circle-o"

  %section.link.center

  %section
    = fa_icon "map-marker"
    .info 11:05 AM. Platform 1. 
    .info.extra Accessibility information Lorem ipsum dolor sit amet, consectetur adipiscing elit.