%section.markers
  %section
    .info 11:05 AM. Platform 1. 
    .info.extra 
      = link_to page_path(id: 'about_station'), :title => "About Station" do
        Station Accessibility
    = fa_icon "circle-o"

  %section.link.center

  %section
    = fa_icon "map-marker"
    .info 11:05 AM. Platform 1. 
    .info.extra
      = link_to page_path(id: 'about_station'), :title => "About Station" do
        Station Accessibility