/* colors */

/* general */
$white: #fff;
$black: #505050;
$gray: #bbb;
$footer: #000;

/* notify */
$alert: #ff5c00;
$error: #ff5c00;
$confirm: #04a75f;

/* modifiers */
$gray-darken: darken($gray, 30%);

/* brand */
$brand: #ff5c00;

$primary: $brand;
$secondary: #18cca4;

$brand-dim: darken($brand, 12%);
$brand-bright: lighten($brand, 12%);
$brand-mute: lighten($brand, 50%);

$secondary-mute: lighten($secondary, 42%);

$attention: #e87a24;

$background: $white;


/* outside colors */
