/* grid using neat */
/* grid using neat */

$neat-grid: (
  columns: 6,
  gutter: $gutter,
);

header {
  @include grid-container;
}

section, footer {
  float: left;
  width: 100%;
}

.back,
.nav {
  @include grid-column(3);
}

h1,
h2,
h3,
p,
.secondary,
.profile,
.form input, 
.list,
.link,
.inner {
  @include grid-column(6);
}

.button {
  @include grid-column(6);
}

.key {
  .markers {
    @include grid-column(1);
  }
  .route {
    @include grid-column(1);
  }
  .form {
    @include grid-column(5);
  }
}

.card {
  .info {
    @include grid-column(4);
    &.profile {
      @include grid-column(2);
    }
    &.right {
      @include grid-column(2);
    }
    &.extra {
      @include grid-column(6);
    }
  }
  .tags {
    @include grid-column(6);
  }
  .extra {
    @include grid-column(6);
  }
}


.link {
    &.center {
      margin-left: calc(50% - 3px);
      width: 50%;
  }
}

.search-details, .profile-route {
  .markers {
    @include grid-column(6);
  }
}
