/* layout */

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

header, footer {
  background: $brand;
}

body {
  background: $background;
}

.main {
  margin-top: $header-height;
  .form {
    margin-top: $baseline*0.5;
    margin-bottom: $baseline*0.5;
  }
  &.brand {
    background: $brand;
  }
}

.fa-clock-o {
  margin-top: $baseline;
  text-align: center;
  width: 100%;
}

.actions {
  margin-top: $baseline;
  margin-bottom: $baseline;
  &.row {
    display: flex;
  }
  .row {
    flex: 1 1 100%;
  }
}

.choice {
  margin-top: $baseline*0.5;
  margin-bottom: $baseline*0.5;
}

.map {
  height: $baseline*4;
  overflow: hidden;
  width: 100%;
  margin-left: 0;
}

.profile {
  h2, p {
    margin-bottom: 0;
  }
  h2 {
    color: $primary;
  }
}

.list {
  
}

.button {
  &.center {
    margin: 0 auto;
  }
}