/* variables */

$body: 16px;
$baseline: 20px;
$tight: 20px;
$gutter: 18px;

$mobile-width: 414px;

$h1: 34px;
$h1-lineheight: $h1*1.2; 
$h2: 20px;
$h2-lineheight: $h2*1.3;
$h3: 14px;

$medium: 19px;
$small: 16px;
$tiny: 14px;

$stack: 'Varela Round', sans-serif;

$border-width: 2px;
$border-style: solid;

$border-width-thin: 1px;
$border-radius: 4px;

$speed: 500ms;
$curve: ease;

/* header */
$header-height: $baseline*2;
// this can also be used for placing header nav vertically aligned to the logo

$icon: $baseline;