/* variables */

$body: 20px;
$baseline: 35px;
$tight: 20px;
$gutter: $baseline*0.75;

$mobile-width: 414px;

$h1: 34px;
$h2: 27px;
$h3: 16px;

$medium: 18px;
$small: 16px;
$tiny: 14px;

$stack: 'Varela Round', sans-serif;

$border-width: 2px;
$border-style: solid;

$border-width-thin: 1px;

$speed: 500ms;
$curve: ease;

/* header */
$header-height: $baseline*2;
// this can also be used for placing header nav vertically aligned to the logo