%main.main
  %section.container
    %section.body
      %section.card
      
        %h1
          = t('global.title')
        %h2
          = t('global.about')

  %section.actions.primary
    = render partial: "partials/button", locals: {one: I18n.t('button.traveller'), page: 'traveller_profile_edit', myclass: 'button primary'}

    = render partial: "partials/button", locals: {one: I18n.t('button.helper'), page: 'helper_journey_create', myclass: 'button primary'}