%main.main
  %section.container
    %section.body
      =image_tag "color/logo.svg", :alt => "Lend a hand logo", :class => "logo"
      %h1
        Lend a hand
      %p
        We help to connect commuters  with people in a wheelchair  to commute on public transport.

    %section.actions.primary
      = link_to "I can help", page_path(id: 'legal_helper'), :class => 'button primary'
      = link_to "I need help", page_path(id: 'legal_traveller'), :class => 'button primary'
