%main.main
  %section.container
    %section.body
      =image_tag "color/logo.svg", :alt => "Lend a hand logo", :class => "logo"
      
      %h1
        = t('global.title')
      %p
        = t('global.about')

  %section.actions.primary
    = render partial: "partials/button", locals: {one: I18n.t('button.traveller'), page: 'profile_create_public', myclass: 'button primary'}

    = render partial: "partials/button", locals: {one: I18n.t('button.helper'), page: 'helper_journey_create', myclass: 'button primary'}