%main.main
  %section.container
    %section.body

      %section.card
        %section.profile

          =image_tag "app-grabs/profile400x400.png", :alt => "Profile image", :class => "profile-img"
          
          %h2 Jon Snow
          %p will be lending you a hand.

      %section.actions.primary
        = link_to "Home", page_path(id: 'profile_create_public'), :class => 'button primary'