%main.main
  %section.container
    %section.body

      %section.card.divide
        %h1
          = t('chat.title')

        = render partial: "partials/profile", locals: {title: I18n.t('traveller_profile.title'), name: I18n.t('traveller_profile.name')}