%main.main
  %section.container
    %section.body
      %h2 Please enter in your new password.

      %section.form
        %input{:placeholder => "Password"}
        %input{:placeholder => "Confirm your password"}

      %section.actions.primary
        = link_to "Login", search_when_where_path, :class => 'button primary'