%main.main.brand
  %section.body
    %h2 Please enter in your new password.

  %section.form
    <input placeholder="Password" >
    <input placeholder="Confirm your password" >

  %section.actions
    = link_to "Login", search_where_path, :class => 'button center'