%main.main
  %section.body
    %section.card
      = link_to page_path(id: 'helper_traveller_available'), :title => "Profile" do
        = image_tag "color/logo.svg", :alt => "Lend a hand logo", :class => "logo"

    %section.card
      %h2
        = t('searching.title')

    %section.actions.primary
      = render partial: "partials/button", locals: {one: I18n.t('button.continue'), page: 'helper_traveller_available', myclass: 'button primary confirm'}