%main.main.search-details
  %section.container
    %section.body

      %h2 About your journey

      = render partial: 'partials/route_large'

      %h2 Choose a departure time

      = render partial: 'partials/helper_departure'

      %section.actions.primary
        = link_to "Find a helper", page_path(id: 'searching'), :class => 'button primary confirm'
