%main.main
  %section.container
    %section.body
      %section.card

        %h1
          = t('thanks.title')

        %h2
          = t('thanks.info')

  %section.actions.primary
    = render partial: "partials/button", locals: {one: I18n.t('button.back_journey'), page: 'helper_journey_add', myclass: 'button primary'}