%main.main
  %section.container
    %section.body
      %section.card
        = image_tag "color/logo.svg", :alt => "Lend a hand logo", :class => "logo"

        %h2
          = t('thanks.title')

        %p
          = t('thanks.info')

  %section.actions.primary
    = render partial: "partials/button", locals: {one: I18n.t('button.back_journey'), page: 'helper_journeys', myclass: 'button primary'}