%main.main
  %section.container
    %section.body
      %section.card

        %h2
          = t('helper_upcoming_journeys.title')

        =image_tag "app-grabs/traveller_profile.png", :alt => "Profile image", :class => "profile-img"

      %section.key.card
        = render partial: 'partials/route_large'

      %section.actions.secondary
        = render partial: "partials/button", locals: {one: I18n.t('button.view_profile'), page: 'helper_traveller_profile_contact', myclass: 'button secondary confirm'}

    %section.actions.primary
      = render partial: "partials/button", locals: {one: I18n.t('button.contact'), page: 'chat', myclass: 'button primary confirm'}
