%main.main
  %section.body
    %section.card
      = link_to page_path(id: 'helper_travellers_available'), :title => "Profile" do
        = image_tag "color/logo.svg", :alt => "Lend a hand logo", :class => "logo"

    %section.card
      %h2
        = t('searching.title')