%main.main.brand
  %section
    %h2 Welcome back, please login below.

  %section.form
    <input placeholder="E-mail" >
    <input placeholder="Password" >

  %section.actions
    = link_to "Login", search_where_path, :class => 'button center '