%main.main
  %section.container
    %section.body
      %h2 Welcome back, please login below.

      %section.form
        %input{:placeholder => "Email"}
        %input{:placeholder => "Password"}
        = link_to "Forgot password", reset_password_path, :class => 'helper'

    %section.actions.primary
      = link_to "Login", search_when_where_path, :class => 'button primary'