%main.main
  %section.container
    %section.body

      %section.card
        %section.profile
          %h2 Take photo of your driver’s licence or ID page of your passport.

          = fa_icon "camera"

          %h3 This must be a clear photo and show your full name, age, date of bith and expiration date.


      %section.card
        %h2 Have you had a police check?
      
        %section.actions.secondary
          = link_to "No", page_path(id: 'photo_id'), :class => 'button secondary'
          = link_to "Yes", page_path(id: 'photo_id'), :class => 'button secondary'

    %section.actions
      = link_to "Confirm", page_path(id: 'helper_profile_create_private'), :class => 'button primary confirm'