%main.main
  %section.container
    %section.body
      =image_tag "color/logo.svg", :alt => "Lend a hand logo", :class => "logo"

      %h2 Your profile has been created!
      %p We've also sent you an email  confirm your registration

      %section.actions.primary
        = link_to "Begin your search", page_path(id: 'search_when_where'), :class => 'button primary'