%main.main
  %section.container
    %section.body
      %section.card
        =image_tag "color/logo.svg", :alt => "Lend a hand logo", :class => "logo"

      %h2
        = t('profile_confirm.profile')
      %p 
        = t('profile_confirm.email')


    %section.actions.primary
      = render partial: "partials/button", locals: {one: I18n.t('button.begin'), page: 'traveller_journey_overview', myclass: 'button primary'}