%main.main
  %section.container
    %section.body
      %h2 Please submit your email address, and we will send you a reset link.

      %section.form
        %input{:placeholder => "Email"}

      %section.actions.primary
        = link_to "Reset password", create_password_path, :class => 'button primary'