%main.main.brand
  %section.body
    %h2 Please submit your email address, and we will send you a reset link.

  %section.form
    <input placeholder="Email" >

  %section.actions
    = link_to "Reset password", create_password_path, :class => 'button center'