%main.main.search-details
  %section.container
    %section.body
      %section.actions.secondary
        = link_to "Map", search_details_path, :class => 'button secondary'
        = link_to "Route", search_details_path, :class => 'button secondary'

      %h2 This is your currently planned route.

      %section.key
        %section.markers
          %section
            .info 11:05 AM. Platform 1. 
            .info.extra Accessibility information Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            <i class="fa fa-circle-o" aria-hidden="true"></i>

          %section.link.center
          
          %section
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            .info 11:25 AM Platform 2. 
            .info.extra Accessibility information Lorem ipsum dolor sit amet, consectetur adipiscing elit.

      %section.actions.primary
        = link_to "Request a hand", searching_path, :class => 'button primary'
