%main.main
  %section.container
    %section.map
      =image_tag "app-grabs/newtown.png", :alt => "Newtown map"

    %section.form
      %h2 Where do you want to go?

      <input placeholder="Newton, Bedord St, Black Star Pastry…" >

    %section.actions.primary
      = link_to "Search", search_when_path, :class => 'button primary'