%main.main
  %section.body
    =image_tag "color/logo.svg", :alt => "Lend a hand logo", :class => "logo"

    %h2 Looking for someone to lend a hand…

    = link_to "temporary click", page_path(id: 'profile')