%main.main
  = link_to search_details_path, :title => "Search Details" do
    %section.card
      .info.icon
        .spot T
        .rect T2
      .info.right 
        00:15
        %span <i class="fa fa-angle-right" aria-hidden="true"></i>
  = link_to search_details_path, :title => "Search Details" do
    %section.card
      .info.icon
        .spot B
        .rect 438
      .info.right 
        00:25
        %span <i class="fa fa-angle-right" aria-hidden="true"></i>
  = link_to search_details_path, :title => "Search Details" do
    %section.card
      .info.icon
        .spot B
        .rect 438
      .info.right 
        01:05
        %span <i class="fa fa-angle-right" aria-hidden="true"></i>
  = link_to search_details_path, :title => "Search Details" do
    %section.card
      .info.icon
        .spot T
        .rect T3
      .info.right 
        00:45
        %span <i class="fa fa-angle-right" aria-hidden="true"></i>