%main.main
  %section.container
    %section.body
      %h2
        = t('search_when_where.title')
      %h3
        = t('search_when_where.date')

      %section.picker
        .inner
          %ul.day
            %li 15th Aug
            %li 16th Aug
            %li 17th Aug

          %ul.hour
            %li 9
            %li 10
            %li 11     
          
          %ul.min
            %li 15
            %li 30
            %li 45

          %ul.meridiem
            %li AM
            %li PM

    %section.actions.primary
      = render partial: "partials/button", locals: {one: I18n.t('button.confirm'), page: 'help_type', myclass: 'button primary'}