%main.main
  %section.body
    = link_to page_path(id: 'profile'), :title => "Profile" do
      = image_tag "color/logo.svg", :alt => "Lend a hand logo", :class => "logo"

    %h2
      = t('searching.title')