%main.main
  %section
    %h2 When do you plan on arriving?

  %section
    <i class="fa fa-clock-o icon" aria-hidden="true"></i>

  %section.actions
    = link_to "20th August", help_type_path, :class => 'button center'
    = link_to "3:15pm", help_type_path, :class => 'button center'