%main.main
  %section.container
    %section.body

      = fa_icon "frown-o"

      %h2
        = t('sorry.title')

      %p
        = t('sorry.info')

  %section.actions.primary
    = render partial: "partials/button", locals: {one: I18n.t('button.ok'), page: 'search_details', myclass: 'button primary'}