%main.main.search-details
  %section.container
    %section.body

      %h2
        = t('traveller_journey_overview.title')

      = render partial: 'partials/route_large'


    %section.actions.primary
      = render partial: "partials/button", locals: {one: I18n.t('button.add_journey'), page: 'add_journey_confirm', myclass: 'button primary'}