%main.main
  %section.container
    %section.body
      %section.card

        %h2
          = t('traveller_upcoming_journeys.title')

        =image_tag "app-grabs/profile_003.png", :alt => "Profile image", :class => "profile-img"

      %section.card
        = render partial: 'partials/route_large'

      %section.actions.secondary
        = render partial: "partials/button", locals: {one: I18n.t('button.view_profile'), page: 'helper_profile', myclass: 'button secondary confirm'}

    %section.actions.primary
      = render partial: "partials/button", locals: {one: I18n.t('button.message'), myclass: 'button primary confirm'}
