%main.main.search-details
  %section.container
    %section.body
      %section.card

        %h2
          = t('traveller_journey_wait.title')

        = render partial: 'partials/route_large'


      %section.actions.secondary
        = render partial: "partials/button", locals: {one: I18n.t('button.next'), page: 'traveller_journey_offer', myclass: 'button secondary'}

    %section.actions.primary
      = render partial: "partials/button", locals: {one: I18n.t('button.cancel_journey'), page: 'traveller_journey_wait', myclass: 'button primary decline deactive'}