%main.main
  %section.container
    %section.body
      %section.card

        %h1
          = t('add_journey_confirm.title')

        %h2
          = t('add_journey_confirm.info')

    %section.actions.primary
      = render partial: "partials/button", locals: {one: I18n.t('button.back_journey'), page: 'traveller_journey_add', myclass: 'button primary'}