%main.main
  %section.container
    %section.body

      %section.card
        %h1
          = t('concern.title')
        .form
          %p
            = t('concern.info')
          %textarea{:placeholder => t('form.comments')}

    %section.actions.primary
      = render partial: "partials/button", locals: {one: I18n.t('button.send'), myclass: 'button primary'}