%footer.footer
  %nav.nav
    %ul
      %li= link_to raw('this'), :title => 'this'
      %li= link_to raw('that'), :title => 'that'
      %li= link_to raw('and the other'), :title => 'and the other'

